@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


.body {
    width: 100%;
    display: flex;
}


/* ===============================================
----------  Start Left side bar styles ---------------
=============================================== */

.body aside {
    width: 275px;
    height: 100vh;

}

.asidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background: #000;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 275px;
}

.asidebar .logo img {
    margin-top: 11px;
    margin-bottom: 50px;
    height: 68px;
    width: 125px;
    border-radius: 0px;
}

.asidebar .menu {
    width: 100%;

}

.asidebar .menu .item {
    padding-left: 42px;
    margin-bottom: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: #7D7D7E;
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;

}


/* .asidebar .menu .item span {

} */
.asidebar .menu .sub_menu {
    display: none;
}

.asidebar .menu .sub_item {
    padding-left: 62px;
    margin-bottom: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: #7D7D7E;
    list-style: none;
    display: flex;
    gap: 42px 20px;
    align-items: center;

}

.asidebar .menu .item .down {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    stroke: #7D7D7E;
    padding-right: 40px;
}

.asidebar .menu .item .down .svg {
    transform: rotate(180deg);
}
.asidebar .menu .item:hover .down svg {
    stroke: #FF7901;
}

.asidebar .menu .sub_item:hover {
    color: white;
    border-right: 3px solid #FF7901;
}

.asidebar .menu .item:hover {
    color: white;
    border-right: 3px solid #FF7901;
}

.asidebar .menu .item .svg_item {
    fill: #7D7D7E;
}

.asidebar .menu .sub_item .svg_sub_item {
    fill: #7D7D7E;
}

.asidebar .menu .item:hover .svg_item {
    fill: #FF7901;
}

.asidebar .menu .sub_item:hover .svg_sub_item {
    fill: #FF7901;
}


/* ===============================================
----------  End Left side bar styles ---------------
=============================================== */


/* ===============================================
----------  Start Main body styles ---------------
=============================================== */

.main {
    flex: 1;
    background: #fff;
}

/* ===============================================
----------  Start Header styles ---------------
=============================================== */
.main header {
    display: flex;
    justify-content: end;
    background: #000000;
    height: 90px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9;
}

.main header .header_profile {
    display: flex;
}

.main header .header_profile .balance {
    display: flex;
    align-items: center;
}

.main header .header_profile .balance p {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.main header .header_profile .balance h3 {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF7901;
    margin-left: 10px;
}

.main header .header_profile .dropdown {
    width: 200px;
    height: 60px;
    position: relative;
    margin: 0 30px;
}

.main header .header_profile .user {
    width: 200px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 45px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.main header .header_profile .user .small_image {
    padding: 0 0px 0 10px;
}

.main header .header_profile .user h4 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #26262E;
    margin: 0 18px 0 10px;
}

.main header .header_profile .user .icon {
    width: 12px;
    height: 6px;
    padding-right: 20px;
}


.header_profile .dropdown_content {
    display: none;
    height: 297px;
    width: 200px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
}

.header_profile .show {
    display: block;
}

.header_profile .dropdown_content .menu {
    padding-top: 59px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.header_profile .dropdown_content a {
    height: 30px;
    width: 54px;
    left: 20px;
    top: 179px;
    border-radius: nullpx;
    color: #7D7D7E;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header_profile .dropdown_content a:hover {
    color: #FF7901;
}

.header_profile .dropdown_content .logout {
    height: 28px;
    width: 128px;
    left: 20px;
    top: 229px;
    background: rgba(255, 1, 1, 0.1);
    border-radius: 5px;
    padding: 10px 16px 10px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

.header_profile .dropdown_content .logout .icon {
    display: flex;
    align-items: center;
}

.header_profile .dropdown_content .logout .text {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF5E5E;

}

/* ===============================================
----------  End Header styles ---------------
=============================================== */


/* ===============================================
----------  Start profile styles ---------------
=============================================== */
.profile_section {
    background: #FCFBFF;
    margin-bottom: 100px;
}

.profile_section .profile {
    display: flex;
    padding: 30px;
    gap: 30px;
}

.profile_section .profile .profile_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 325px;
    height: 334px;
    /* White */
    background: #fff;
    border: 1px solid #F2F2F4;
    border-radius: 10px;
}

.profile_section .profile .profile_card .profile_details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_section .profile .profile_card .img {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.profile_section .profile .profile_card .profile_details h3 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    color: #26262E;
}

.profile_section .profile .profile_card .profile_details p {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #7D7D7E;

}

.profile_section .profile .payment {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    box-sizing: border-box;
    height: 334px;
    background: #fff;
    border: 1px solid #F2F2F4;
    border-radius: 10px;
    padding: 0 30px;
}

.profile_section .profile .payment .credit_cards {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap: 30px;
}

.profile_section .profile .payment h3 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10px;
}

.profile .payment .credit_card {
    box-sizing: border-box;
    max-width: 387px;
    height: 154px;
    width: 100%;
    border: 1px solid #F2F2F4;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile .payment .credit_card:hover {
    border: 1px solid #FF7901;
}

.profile .payment .credit_card h3 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #7D7D7E;
}

.profile .payment .credit_card h6 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #BDBDBD;
}

/* ===============================================
----------  Start profile styles ---------------
=============================================== */
/* ===============================================
----------  Start profile styles ---------------
=============================================== */

.setting .tab {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #F2F2F4;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.setting .tab ul {
    display: flex;
    list-style: none;
    gap: 32px;

}

.setting .tab ul li {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

}

.setting .tab ul li:hover {
    color: #FF7901;
}


.setting .email {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.setting .email .notifications {
    display: flex;
    gap: 20px;
    align-items: center;
}

.setting .email .notifications h3 {
    height: 32px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #26262E;
}


.border {
    width: 100%;
    height: 2px;
    background-color: #F2F2F4;
    border-radius: 10px;
}

.email .btn {
    padding: 10px 16px;
    gap: 6px;
    width: 150px;
    height: 48px;
    background: #FF7901;
    box-shadow: 0px 20px 50px rgba(255, 121, 1, 0.3);
    border-radius: 5px;
    border: none;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.email .from_control {
    width: 100%;
    display: flex;
    gap: 30px;
}

.email .from_control .text_field {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.email .from_control .text_field label {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #7D7D7E;
    margin-bottom: 10px;
}

.email .from_control .text_field input[type=text] {
    max-width: 450px;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    padding: 0 20px;
    background: #FFFFFF;
    border: 1px solid #F2F2F4;
    border-radius: 10px;
}

.email .from_control .text_field input[type=email] {
    max-width: 450px;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    padding: 0 20px;
    background: #FFFFFF;
    border: 1px solid #F2F2F4;
    border-radius: 10px;
}

.email .from_control .text_field input[type=text]:focus {
    outline: 1px solid #c9c9c9;
}

.email .from_control .text_field input[type=email]:focus {
    outline: 1px solid #c9c9c9;
}

.email .from_control .text_field input[type=text]::placeholder {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #26262E;

}

.email .from_control .text_field input[type=email]::placeholder {
    color: #BDBDBD;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}


/* ===============================================
----------  Start profile styles ---------------
=============================================== */


/* ===============================================
----------  Start profile styles ---------------
=============================================== */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #FF7901;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: #FF7901;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #FF7901;
}

input:focus+.slider {
    box-shadow: 0 0 1px #FF7901;
}

input:checked+.slider:before {
    background-color: #fff;
    height: 20px;
    width: 20px;
    /* left: 4px;
    bottom: 4px; */
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* ===============================================
----------  Start profile styles ---------------
=============================================== */