@media screen and (max-width: 480px) {

    .body aside {
        width: 0px;
        height: 100vh;
        transform: translateX(-275px);
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
    }
    .open{
        position: absolute;
        top: 40%;
        left: 275px;
        height: 40px;
        width: 40px;
        background-color: #7D7D7E;
        color: white;
        font-weight: 800;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .close{
        display: none;
        position: absolute;
        top: 40%;
        left: 275px;
        height: 40px;
        width: 40px;
        background-color: #7D7D7E;
        color: white;
        font-weight: 800;
        /* display: flex; */
        justify-content: center;
        align-items: center;
    }

    .main header .header_profile .balance p {
        font-size: 14px;
        line-height: 20px;
    }
    .main header .header_profile .balance h3 {
        font-size: 20px;
        line-height: 22px;
    }

    .profile_section .profile {
        flex-direction: column;
    }
  
    .profile_section .profile .payment .credit_cards{
        flex-direction: column;
        align-items: flex-start;
    }
    .setting .tab ul{
       flex-wrap: wrap;
       justify-content: center;
       padding: 0 5px;
    }
    .setting .email {
        width: 100%;
        padding: 0 10px;
    }
    .setting .email {
    padding: 0;
    margin: 0;
    }
    .email .notifications{
        width: 90%;
        margin: 0 auto;
    }
    .email .notifications .title{
        font-size: 10px;
        line-height: 12px;
        text-align: justify;
    }
    .email .from_control {
        flex-direction: column;
        padding-left: 0;
        width: 80%;
        margin: 0 auto;
    }
    .btn{
        margin-left: 30px;
    }
}